@media screen and (min-width: 35em ) and (min-height: 60em){

#header {
		height: 9px;
		width: auto;
		margin-bottom: 0.5px;
	}

	#searchform {
		margin-top: 0.5px;
		position: absolute;
		top: 5px;
		right: 0;
		margin-bottom: 0.5px;
		width: auto;
	}

	#main-nav {
		margin-top: 0.5px;
		position: static;
		width: 40%;
		margin-bottom: 0.5px;
	}

	#site-logo {
		margin-top: 0.5px;
		position: static;
	}

	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	#sidebar {
		width: 100%;
		float: right;
		margin: 0;
	}

}
@media screen and (min-width: 61em){

#header {
		height: 100%;
	}

	#searchform {
		position: absolute;
		top: 5px;
		right: 0;
	}

	#main-nav {
		position: static;
		width: 100%;
	}

	#site-logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	#site-description {
		margin: 0 0 15px;
		position: static;
	}

	#content {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	#sidebar {
		width: 100%;
		float: right;
		margin: 0;
	}

}

